h1{
    color: rgb(196, 245, 140);
    text-align: center;
    background-color: rgb(0, 0, 0);
    
}
nav{
     font-family: Georgia, 'Times New Roman', Times, serif;
  
    
}
nav ul li a{
    
    color: black;

}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline;
    margin-left: 20px;
}
div{
    text-align: center;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: large;
    padding: 2%;
        background-color: white;
      
 }
section{
    margin: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
body{
    background-color: rgb(196, 245, 140);
}
img{
    width: 200px;
    margin-bottom: 15px;
    
}
footer{
    font-size: xx-large; 
    padding: 2%;
        background-color: white; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
